.form {
  align-content: center;
  display: flex;
  flex-direction: row;
  width: 450px;
}

.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-top: 5%;
  width: 100px;
}

.taskContainer {
  margin-right: 20%;
  margin-top: 5%;
}

.addTaskBtn {
  cursor: pointer;
  margin-left: 90px;
  width: 200px;
}

.field {
  width: 400px;
}

.printedList {
  border-radius: 5px;
  color:black;
  font-size: large;
  padding: 10px;
}